/* Цвет основного текста #212121; */
/* Вторичный цвет текста color: #757575; */
/* Белый #FFFFFF; */
/* Акцент #2196F3; */
/* Вторичный цвет фона background: #F5F4FA; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--accent-color);
}

/* Site-nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts */

.contacts .link {
  color: var(--primary-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--title-text-color);
}

/* Section */

.section-title {
  color: var(--title-text-color);
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);
}

/* Team */

.team-list .title {
  color: var(--title-text-color);
}

/* Button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Стили для portfolio */
